html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}